<div class="container">
    <mat-toolbar>
        <h3 *ngIf="!book">All books</h3>
        <a *ngIf="book" href="/dashboard" mat-icon-button>back</a>

    </mat-toolbar>
</div>


<div class="container" *ngIf="!book">
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let book of books">
            <div class="custom-card">
                <div class="card-image">
                    <img src="{{book.image}}" alt="{{book.title}}" (click)="findBookByIsbn(book.isbn)">
                </div>
                <div class="card-details">
                    <p (click)="findBookByIsbn(book.isbn)">{{book.title}}</p>
                    
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="containor" *ngIf="book">
    <div class="row">


        <mat-card class="bookTitle">
            <img mat-card-image src="{{book.image}}" style="width:500px" alt="{{book.title}}" />
            <mat-card-header class="card-margin-top">
              <mat-card-title style="align-self:center;">
                    <h1><u>Book Details</u></h1>
                </mat-card-title>
                <mat-card-subtitle><h2>TITLE: {{book.title}}</h2></mat-card-subtitle>
                <mat-card-subtitle><h2>ISBN: {{book.isbn}}</h2></mat-card-subtitle>
                <mat-card-subtitle><h2>PRICE: {{book.price}}</h2></mat-card-subtitle>
                <mat-card-subtitle><h2>AUTHOR: {{book.authors}}</h2></mat-card-subtitle>
                <mat-card-subtitle><h2>PUBLISHERS: {{book.publisher}}</h2></mat-card-subtitle>
                <mat-card-subtitle><h2>PAGES: {{book.pages}}</h2></mat-card-subtitle>
                <mat-card-subtitle><h2>LANGUAGE: {{book.language}}</h2></mat-card-subtitle>
            </mat-card-header>
        </mat-card>


    </div>
</div>